<h1 mat-dialog-title>Add User Form</h1>
<div mat-dialog-content>
      <form [formGroup]="userForm" >
            <mat-form-field appearance="outline">
                  <mat-label>User name</mat-label>
                  <input formControlName="userName" matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                  <mat-label>User Id</mat-label>
                  <input formControlName="userId" type="number" matInput placeholder="User Id">
            </mat-form-field>
            <h4 mat-dialog-title>User Address</h4>
            <mat-form-field appearance="outline">
                  <mat-label>Street</mat-label>
                  <input formControlName="street" matInput placeholder="street">
            </mat-form-field>
            <mat-form-field appearance="outline">
                  <mat-label>City</mat-label>
                  <input formControlName="city" matInput placeholder="city">
            </mat-form-field>
            <mat-form-field appearance="outline">
                  <mat-label>Zip Code</mat-label>
                  <input formControlName="zipCode" type="number" matInput placeholder="zip code">
            </mat-form-field>
      </form>
</div>
<div mat-dialog-actions [align]="'end'">
      <button mat-raised-button color="warn" mat-dialog-close>Close</button>
      <button mat-raised-button color="primary" (click)="addUser()" >{{btnAction}}</button>
</div>