.example-spacer {
      flex: 1 1 auto;
    }

.card-buttonDel {
  height: 30px;
  width: 40px;
}
.card-buttonEdit {
  height: 30px;
  width: 40px;
  margin-left: 8px;
}
.example-card {
  max-width: 400px;
}
.rst{
  width: 40px;
    height: 20px;
    font-size: smaller;
    padding: 2px;
}