<mat-toolbar color="primary">

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>    
      </button>
      <span>Zlink</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="warn" (click)="openDialog()">Add User</button>
    
</mat-toolbar>

<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="input-group input-group-sm mb-3">
        <input type="text" [(ngModel)]="enteredValue" class="form-control" placeholder="Search here. " aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        <span class="input-group-text" id="inputGroup-sizing-sm"><mat-icon >search</mat-icon></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-check form-check-inline" >
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" [(ngModel)]="selectedOptions" value="odd">
        <label class="form-check-label" >Filter with Odd Ids</label>
      </div>
      <button class="rst btn btn-primary" type="button" (click)="clearSelection()">Reset</button>
      <!-- <input class="rst btn btn-primary" (click)="clearSelection()" type="reset" value="Reset"> -->
    </div>
    <div class="row">
      <div class="col-md-3 mt-3" *ngFor="let data of datas | filtering:selectedOptions | search:enteredValue;">

        <mat-card  class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{data.name}}</mat-card-title>
              <mat-card-subtitle>Id : {{data.id}}</mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <p><b>Street:</b>  {{data.address.street}}</p>
            <p><b>City:</b>  {{data.address.city}}</p>
            <p><b>Zip Code:</b>  {{data.address.zipcode}}</p>
            <mat-divider></mat-divider>
          </mat-card-content>
          <mat-card-actions [align]="'end'"  >
            <button class="card-buttonDel" mat-raised-button  color="warn" (click)="delUser(data.id)">Delete</button>
            <button class="card-buttonEdit" mat-raised-button color="primary" (click)="editUser(data)">Update</button>
          </mat-card-actions>
        </mat-card>

      </div>
    </div>
  </div>
</section>

